
.aboutMain {
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    padding-top: 100px; 
}

.hero {
    height: 60vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('e123.webp') no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid #dc3545;
}

.kepegy {
    background-image: url(a123.jpeg);
     height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    font-weight: bold;
    border: 1px dashed #444;
    background-size: cover;
    background-position: center;
}



.kepketto {
    background-image: url(szepuma.png);
     height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    font-weight: bold;
    border: 1px dashed #444;
    background-size: cover;
    background-position: center;
}

.kepharom {
    background-image: url(pumarally.jpg);
     height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    font-weight: bold;
    border: 1px dashed #444;
    background-size: cover;
    background-position: center;
}


.glitchText {
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    letter-spacing: -2px;
}


.sectionTitle {
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.imageCard {
    border: 1px solid #333;
    padding: 10px;
    background: #111;
}

.imagePlaceholder {
    height: 350px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    font-weight: bold;
    border: 1px dashed #444;
}

.valueCard {
    padding: 40px 20px;
    border: 1px solid transparent;
    transition: 0.3s;
}

.valueCard:hover {
    border: 1px solid rgba(220, 53, 69, 0.3);
    background: rgba(220, 53, 69, 0.05);
}

@media (max-width: 768px) {
    .glitchText {
        font-size: 2.5rem;
    }
}